*,
html {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

body {
  background-color: ;
}

.container-navbar {
  background-color: crimson;
  width: 100%;
  height: 80px;
}

.ul-navbar {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  border: 1px solid red;
  background-color: red;
  list-style-type: none;
 padding: 10px;
 margin: 5px;
 color: white;
}

.container-footer {
  background-color: crimson;
  display: flex;
}

.h2-footer {
  font-size: 27px;
  color: white;
}

.container-content1 {
  list-style-type: disc;
}